[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-dotenv = "*"
alembic = "*"
pydantic = {extras = ["dotenv"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
redis = "*"
fastapi-limiter = "*"
cloudinary = "*"
fastapi-mail = "*"
sqlalchemy-utils = "*"
pytest = "*"
qrcode = "*"
pyqrcode = "*"
pillow = "*"
pytest-asyncio = "*"
asyncpg = "*"
pydantic-settings = "*"
faker = "*"
libgravatar = "*"
aioredis = "*"
jinja2 = "*"
uuid = "*"
websockets = "*"

[dev-packages]
sphinx = "==6.1.3"

[requires]
python_version = "3.10"
