{% extends "base.html" %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('dashboard') }}">
              <i class="fas fa-home"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('view_all_photos') }}">
              <i class="fas fa-database"></i> Database
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"
              href="{{ url_for('show_route_list') }}"
            >
            <i class="fas fa-list"></i> API List
              <span
                class="spinner-border spinner-border-sm d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{{ current_base }}/docs" >
              <i class="fas fa-list"></i> Swagger
              <span
                class="spinner-border spinner-border-sm d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ current_base }}/redoc" >
              <i class="fas fa-list"></i> Redoc
              <span
                class="spinner-border spinner-border-sm d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('chat') }}" >
              <i class="fas fa-comments"></i>  Chat
              <span
                class="spinner-border spinner-border-sm d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Header -->
      <div
        class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Database Content</h1>
        <div class="btn-toolbar">
          <!-- Logout Button -->
          <button class="btn btn-danger" id="logout-btn">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </div>
      </div>

      <!-- Add Photo Button -->
      <div class="text-right mb-3">
        <button class="btn btn-primary" id="add-photo-btn">
          <i class="fas fa-plus"></i> Add Photo
        </button>
      </div>

      <!-- Search Form -->
      <form method="get" action="{{ url_for('search_by_tag') }}" class="mb-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="search-text"
            name="query"
            placeholder="Search..."
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-success">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </div>
        <div class="form-group mt-2">
          <select class="form-control" id="search-type" name="search_type">
            <option value="tag">by Tag</option>
            <option value="description">by Description</option>
            <option value="username">by Username</option>
          </select>
        </div>
      </form>

      <!-- Table with Data -->
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>QR</th>
              <th>Description</th>
              <th>Username</th>
              <th>Tags</th>
              <th>Comments</th>
              <th>Rating</th>
              <th>Created At</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            {% for photo in photos %}
            <tr>
              <td>{{ photo.id }}</td>
              <!-- Add a "modal-photo" class to handle the click -->
              <td>
                <img
                  src="{{ photo.url }}"
                  alt="Photo"
                  class="modal-photo img-fluid rounded"
                  data-description="{{ photo.description }}"
                />
              </td>
              <td>
                <img
                  src="{{ photo.QR }}"
                  alt="QR Code"
                  class="modal-photo img-fluid rounded"
                  data-description="{{ photo.description }}"
                />
              </td>
              <td>{{ photo.description }}</td>
              <td>
                <a
                  href="{{ url_for('view_user_profile', username=photo.username) }}"
                  >{{ photo.username }}</a
                >
              </td>
              <td>
                {% for tag in photo.tags %} {{ tag }} {% if not loop.last %}, {%
                endif %} {% endfor %}
              </td>
              <td>
                <ul>
                  {% for comment in photo.comments %}
                  <li>{{ comment.text }} (<i>{{ comment.username }}</i>)</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <div class="rating">
                  {% for _ in range(photo.rating) %}
                  <i class="fas fa-star" style="color: orange"></i>
                  {% endfor %}
                </div>
              </td>
              <td>{{ photo.created_at }}</td>
              <td>
                <button
                  class="btn btn-danger delete-photo-btn"
                  data-photo-id="{{ photo.id }}"
                >
                  <i class="fas fa-trash"></i> Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Modal window for displaying a photo -->
      <div
        class="modal fade"
        id="photoModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="photoModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="photoModalLabel">Photo</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img
                id="modalPhoto"
                src=""
                alt="Selected Photo"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Modal window for uploading photos and parameters -->
      <div
        class="modal fade"
        id="add-photo-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addPhotoModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addPhotoModalLabel">Add Photo</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Form for uploading photos and parameters -->
              <form id="upload-photo-form" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="photo-file">Select a photo to upload:</label>
                  <input
                    type="file"
                    class="form-control-file"
                    id="photo-file"
                    name="photo_file"
                    accept=".jpg, .jpeg, .png"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="description">Description (optional):</label>
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    maxlength="500"
                  />
                </div>
                <div class="form-group">
                  <label for="tags">Tags (optional):</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tags"
                    name="tags"
                    maxlength="500"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" id="upload-button">
                Upload
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item{% if skip == 0 %} disabled{% endif %}">
            <a
              class="page-link"
              href="?skip={{ skip - limit }}&limit={{ limit }}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            class="page-item{% if photos|length < limit %} disabled{% endif %}"
          >
            <a
              class="page-link"
              href="?skip={{ skip + limit }}&limit={{ limit }}"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </main>
  </div>
</div>
<script src="/static/service.js"></script>
<script src="/static/datebase.js"></script>
{% endblock %}
