{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <!-- <h1 class="display-4"><b>Database</b></h1> -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-primary" id="add-photo-btn">
          <i class="fas fa-plus"></i> Add Photo
        </button>
        <button class="btn btn-primary" id="logout-btn">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </div>
      <!-- Search Form -->
      <form method="get" action="{{ url_for('search_by_tag') }}" class="row align-items-center">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="search-text" name="query">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control" id="search-type" name="search_type">
              <option value="tag">by Tag</option>
              <option value="description">by Description</option>
              <option value="username">by Username</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
          </div>
        </div>
      </form>
      <!-- end of Search Form -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>QR</th>
            <th>Description</th>
            <th>Username</th>
            <th>Tags</th>
            <th>Comments</th>
            <th>Rating</th>
            <th>Created At</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          {% for photo in photos %}
          <tr>
            <td>{{ photo.id }}</td>
            <!-- Add a "modal-photo" class to handle the click -->
            <td>
              <img
                src="{{ photo.url }}"
                alt="Photo"
                class="modal-photo"
                data-description="{{ photo.description }}"
              />
            </td>
            <td>
              <img
                src="{{ photo.QR }}"
                alt="Photo"
                class="modal-photo"
                data-description="{{ photo.description }}"
              />
            </td>
            <td>{{ photo.description }}</td>
            <td>
              <a
                href="{{ url_for('view_user_profile', username=photo.username) }}"
                >{{ photo.username }}</a
              >
            </td>
            <td>
              {% for tag in photo.tags %} {{ tag }} {% if not loop.last %}, {%
              endif %} {% endfor %}
            </td>
            <td>
              <ul>
                {% for comment in photo.comments %}
                <li>{{ comment.text }} (<i>{{ comment.username }}</i>)</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <div class="rating">
                {% for _ in range(photo.rating) %}
                <i
                  class="fas fa-star"
                  style="color: orange; font-size: 8px"
                ></i>
                {% endfor %}
              </div>
            </td>
            <td style="font-size: 14px">{{ photo.created_at }}</td>
            <td>
              <button
                class="btn btn-danger delete-photo-btn"
                data-photo-id="{{ photo.id }}"
              >
                <i class="fas fa-trash"></i> Delete
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Modal window for displaying a photo -->
      <div
        class="modal fade"
        id="photoModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="photoModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="photoModalLabel">Фото</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img
                id="modalPhoto"
                src=""
                alt="Selected Photo"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Modal window for uploading photos and parameters -->
      <div
        class="modal fade"
        id="add-photo-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addPhotoModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addPhotoModalLabel">Add Photo</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Form for uploading photos and parameters -->
              <form id="upload-photo-form" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="photo-file">Select a photo to upload:</label>
                  <input
                    type="file"
                    class="form-control-file"
                    id="photo-file"
                    name="photo_file"
                    accept=".jpg, .jpeg, .png"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="description">Description (optional):</label>
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    maxlength="500"
                  />
                </div>
                <div class="form-group">
                  <label for="description">Tags (optional):</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tags"
                    name="tags"
                    maxlength="500"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" id="upload-button">
                Upload
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item{% if skip == 0 %} disabled{% endif %}">
            <a
              class="page-link"
              href="?skip={{ skip - limit }}&limit={{ limit }}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            class="page-item{% if photos|length < limit %} disabled{% endif %}"
          >
            <a
              class="page-link"
              href="?skip={{ skip + limit }}&limit={{ limit }}"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <script src="/static/service.js"></script>
    <script src="/static/crud.js"></script>
{% endblock %}
