{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Password Reset</div>
                <div class="card-body">
                    <!-- Password Reset Form -->
                    <form method="post" id="forgot-password-form">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/service.js"></script>
<script>
    const addPhotoButton = document.getElementById('forgot-password-form');
addPhotoButton.addEventListener('submit', submitForgotPasswordHandler);
    

    
function submitForgotPasswordHandler(event) {
            event.preventDefault(); 
            
            const emailInput = document.getElementById("email");
            const email = emailInput.value;
            const url = getCurrentBaseURL() + '/api/auth/forgot_password' + `?email=${email}`;
;

            console.log(email);
    
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ email }),
            })
            .then(response => response.json())
            .then(data => {
                Notiflix.Notify.success(data.message); 
                // window.location.href = getCurrentBaseURL() + '/api/auth/login'; 
            })
            .catch(error => {
                Notiflix.Notify.failure("Error:", error);
            });
        };
    </script>
{% endblock %}