<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const loginForm = document.getElementById('login-form');

            loginForm.addEventListener('submit', async (event) => {
                event.preventDefault();

                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                // Отправить запрос на сервер для аутентификации
                const response = await fetch('/api/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`,
                });

                console.log(response)
                if (response.ok) {
                    const data = await response.json();
                    
                    // Сохранить токены в localStorage
                    localStorage.setItem('access_token', data.access_token);
                    localStorage.setItem('refresh_token', data.refresh_token);

                    // Перенаправить пользователя на другую страницу
                    // window.location.href = '/dashboard'; // Замените '/dashboard' на нужный URL
                } else {
                    // Обработка ошибки аутентификации
                    alert('Authentication failed. Please check your credentials.');
                }
            });
        });
    </script>
</body>
</html>
