<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Connecting Bootstrap styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ user.avatar or '/static/images/avatar.jpg' }}" class="img-fluid rounded-circle" alt="User Avatar">
            </div>
            <div class="col-md-8">
                <h1>User Profile</h1>

                <div>
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                    <p><strong>Description:</strong> {{ user.description or "No description available" }}</p>
                    <p><strong>Is active:</strong> {{ user.is_active }}</p>
                    <p><strong>Count of comments:</strong> {{ user.comments_count }}</p>
                    <p><strong>Count of posted photos:</strong> {{ user.photos_count }}</p>
                    <!-- <p><strong>Role:</strong> {{ user.role }}</p> -->
                    <p><strong>Created At:</strong> {{ user.created_at }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Connecting Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
